<div class = "main-result">
    <div class = "result">
        <h1>Результат</h1>
        <h2>Введенный массив</h2>
        <p><b><%=@input%></b></p>
        <h2>Результат</h2>
        <p>Количество элементов, индексы которых кратны 3:      <b><%=@counter%></b></p>
        <p>Последний положительный элемент массива:     <b><%= @last_positive%></b></p>
        <p>Результат:   <b><%=@result%></b></p>
        <p>P.S. индексация с нуля</p>
    </div>
    <%= link_to "Вернуться назад", home_path %>
</div>

